[Unit]
Description=Check QSO Trails for deployable updates

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=qso-trails-deploy@%i.service

[Install]
WantedBy=timers.target
